/*Image One */
.Image1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
    gap: 25px;
}
.red{
    background-color: red;
    height: 100px;
    border-radius: 25px;
    grid-column: 1/3;
}
.blue{
    background-color: blue;
    height: 100px;
    border-radius: 25px;
    grid-column: 3/5;
}
.green{
    background-color: green;
    height: 100px;
    border-radius: 25px;
    grid-column: 1;
}
.purple{
    background-color: purple;
    height: 100px;
    border-radius: 25px;
    grid-column: 2/5;
}
.yellow{
    background-color: yellow;
    height: 100px;
    border-radius: 25px;
    grid-column: 1/5;
}


/*Image Two */

.Image2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 100px);
    margin:200px;
    gap: 25px;
}
.bigred{
    background-color: red;
    border-radius: 25px;
    grid-area: 1/1/3/5;
}
.bigblue{
    background-color: blue;
    border-radius: 25px;
    grid-area: 3/1/9/3;
}
.biggreen{
    background-color: green;
    border-radius: 25px;
    grid-area: 3/3/6/5;
}
.bigpurple{
    background-color: purple;
    border-radius: 25px;
    grid-row: 6/9;
}