#container {
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
}
#litePink {
    background-color: #F5C6D6;
    height: 60px;
    width: 100%;
}
.hotPink {
    background-color: #EE2E84;
    height: 60px;
    width: 100%;
}
#liteBlue1 {
    background-color: #85CFD8;
    height: 60px;
    width: 100%;
}
#liteBlue2 {
    background-color: #85CFD8;
    height: 60px;
    width: 100%;
}
#green {
    background-color: #8DC63F;
    height: 60px;
    width: 100%;
}
#orange {
    background-color: #E76E34;
    height: 60px;
    width: 100%;
}
@media screen and (min-width: 768px){
    #container {
        display: grid;
        row-gap: 1px;
        column-gap: 1px;
    }
    #litePink {
        background-color: #F5C6D6;
        height: 60px;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .hotPink {
        background-color: #EE2E84;
        height: 60px;
        width: 100%;
    }
    #liteBlue1 {
        background-color: #85CFD8;
        height: 60px;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #liteBlue2 {
        background-color: #85CFD8;
        height: 60px;
        width: 100%;
        grid-column-start: 3;
        grid-column-end: 5;
    } 
    #green {
        background-color: #8DC63F;
        height: 60px;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #orange {
        background-color: #E76E34;
        height: 60px;
        width: 100%;
    }
}